<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>单文件上传</h1>
    <form action="/app02/fileupload/" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        选择上传的文件:
        <input type="file" name="upfile" required><br>
        <button type="submit">上传</button>
    </form>

    <h1>多文件上传</h1>
    <form action="/app02/multifileupload" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        选择上传的文件:
        <input type="file" name="upfile" required><br>
        <input type="file" name="upfile" required><br>
        <input type="file" name="upfile" required><br>
        <button type="submit">上传</button>
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}
</body>
</html>