<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    {% load static %}
    <script src="{%static 'scripts/my.js' %}"></script>
    
</head>
<body>
    <link rel="stylesheet"href="{%static 'css/register.css'%}"/>
    <h1>Register</h1>
    <form action="/app01/home" method="POST" name="form1">
        {% csrf_token %}
        用户名: <input type="text" name="user"required="required"placeholder="请输入邮箱/电话"><br>
        密码: <input type="password" name="pwd"required="required"placeholder="请输入不少于6位的字符"><br>
        确认密码:<input type="password" name="pwd2"required="required"placeholder="两次密码一致"><br>
        昵称:<input type="text" name="username"required="required"placeholder="请输入不少于6位的字符">
        <a href="" onclick="checkonly()">唯一验证</a><br>
        头像:<br>
        <img src="{% static 'image/2.jpg' %}"/>
        <a href="">请选择</a><br>
        性别:<input type="radio" name="sex"value="男">男
        <input type="radio" name="sex"value="女">女<br><br>
        城市:<select>
                <option value ="c1">c1 </option>
                <option value ="c2">c2</option>
            </select><br><br>
        个性签名:<input type="text" name="character_word"placeholder="请输入不多于30字"><br>
            <button type="submit"onclick="checkpwd()">立刻注册</button>
            <a href="/app01/login">返回登陆</a>
    </form> 
</body>
</html>